.labelStyle {
    margin-left: 18px;
    fontSize:"20px";
    color: white;
  };
  
  const style1 = {
    marginLeft: "18px",
    fontSize:"20px",
    color: "white",
  };
  
  const button = {
    backgroundColor:"#3C5E83",
    border:"none",
    color:"white",
    padding:"6px 10px",
    textAlign:"center",
    textDecoration:"none",
    display:"inline-block",
    marginLeft: "530px",
    borderRadius:"5px",
    fontSize:"20px"
  };
  
  const header = {
    textAlign:"center",
    marginLeft: "18px",
    fontSize:"40px",
    color: "white"
  };