.custom-form-container {
  /* The Magic */
  background-size: cover;

  background-color: rgba(0,0,0, 0.4);
  height: 550px;
  margin-top: 50px;
  margin: auto;
  vertical-align: middle;
  height: auto;
}
  
.custom-form-container {
  padding: 30px 60px;
}

.form-horizontal, .form-group {
  background: none;
}

.radio {
  text-align: center;
  margin-bottom: 20px;
}


