.navLink {
    color: white !important;
    padding-right: 20px;
}

.navLink:hover {
    color: #DAAB97 !important;
<<<<<<< HEAD
=======
}

.navBar {
    margin-bottom: 40px;
>>>>>>> fc7df326b7f522866c33d007a5c36ef1e87a3ed1
}