.custom-form-container {
    /* The Magic */
    background-size: cover;
  
    background-color: rgba(0,0,0, 0.4);
    margin-top: 50px;
    margin: auto;
    vertical-align: middle;
    height: auto;
}

.custom-form-container {
    padding: 30px 60px;
}