.headerContainer {
    text-align: center;
}

.headerText {
    margin-top: 10%;
    padding: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
}